--out ../src/windows_sys.rs
// We use `std` for now until the versioning of `windows-targets` has had more time to settle.
// After that, replace it with the `sys` feature instead.
--config flatten std minimal

--filter
    Windows.Win32.Foundation.TRUE
    Windows.Win32.Globalization.GetUserPreferredUILanguages
    Windows.Win32.Globalization.MUI_LANGUAGE_NAME
